*{
    /* margin:0;
    padding: 0; */
    box-sizing: border-box;
}
body{
    background-color:beige;
}
header{
    background-color: rgb(125, 125, 244);
    color: white;
    padding: 1rem;
    display:flex;
    justify-content:space-between;
    align-items: center;
}
header img{
    border-radius: 100px;
    width: 100px;
}
.logo{
    display: flex;
    align-items: center;
    gap: 20px;
}
.header-buttons{
    display: flex;
    gap: 20px;
}

.header-btn{
    border:none;
    background-color: white;
    border-radius: 4px;
    padding: 8px 12px;
    font-size: 16px;
    cursor: pointer;

}
.navbar ul{
    list-style:circle;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 0;
}
.navbar li{
    margin: 0 15px;
    font-size: 20px;
}
