<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div class="container">
    <div>
        <h1>Student Registration form</h1>
        <form action="/save" method="post">
            <div>
                <label for="rollNo">Roll Number:</label>
                <input type="text" class="form-control" id="rollNo" name="rollNo">
            </div>
            <div>
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name" name="name">
            </div>
            
            <div>
                <label for="degree">Degree:</label>
                <input type="text" class="form-control" id="degree" name="degree">
            </div>
            <div>
                <label for="city">City:</label>
                <input type="text" class="form-control" id="city" name="city">
            </div>
            <div class="my-4">
                <button type="submit" class="btn btn-success">Save</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>