*{
    /* margin:0;
    padding: 0; */
    box-sizing: border-box;
}
body{
    background-color:beige;
}
header{
    background-color: rgb(125, 125, 244);
    color: white;
    padding: 1rem;
    display:flex;
    justify-content:space-between;
    align-items: center;
}
header img{
    border-radius: 100px;
    width: 100px;
}
.logo{
    display: flex;
    align-items: center;
    gap: 20px;
}
.header-buttons{
    display: flex;
    gap: 20px;
}

.header-btn{
    border:none;
    background-color: white;
    border-radius: 4px;
    padding: 8px 12px;
    font-size: 16px;
    cursor: pointer;

}
.navbar ul{
    list-style:circle;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 0;
    background-color:lightsalmon;
}
.navbar li{
    margin: 0 15px;
    font-size: 20px;
}
.product-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1.5rem;
    justify-content: center;
    padding: 0 1rem;
}
.product-card{
    background-color: antiquewhite;
    border: 1px solid palevioletred;
    border-radius: 1px;
    padding: 1rem;
    text-align: center;
    transition: transform .5s;
}
.product-card:hover{
    cursor: pointer;
    transform: scale(1.05);
}
.product-card img{
    max-width: 100%;
    border-radius: 100px;
}
.about-section{
    text-align: center;
}
.about-section p{
    margin-top: 5px;
    font-size: 1.2rem;
    line-height: 1.6;
}
.contact-section{
    padding: 2rem;
    text-align: center;
}
.contact-form{
    max-width: 500px;
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: left;
    font-weight: bold;
}
.contact-form button{
    background-color: rgb(43, 208, 226);
    color: white;
    padding: 1rem;
    text-align: center;
    cursor: pointer;
    transition: tranform .5s;
}
.contact-form input, .contact-form textarea, .contact-form button{
    width: 100%;
    padding: 7px;
    font-size: 1rem;
    border-radius: 5px;
}
.contact-form button:hover{
    transform: scale(1.05);
}
.footer{
    text-align: center;
    background-color: rgb(110, 43, 226);
    padding: 1rem;
    text-align: center;
}
.footer-link a{
    color: blue;
    text-decoration: none;
    margin: 0 5px;
}
.footer-link a:hover{
    text-decoration: underline;
    color: white;
}