
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.body{
    font-family: poppins, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #f5f5f5;
}
.container {
    max-width: 400px;
    margin: 30px auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 5px;
}
.edit-mode {
    background-color: #ff4d4d;
    color: #333;
}
img {
    display: block;
    margin:auto 10px;
    width: 50px;
}
header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.form-control {
    display: flex;
    margin-bottom: 10px;
}

.form-input {
    width: 100%;
    font-size: 18px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.form-input-filter {
    margin-top: 20px;
    width: 100%;
    font-size: 18px;
    padding: 10px;
    border: none;
    margin-bottom: 20px;
    background: transparent;
    outline: none;
    border-bottom: 1px solid #ccc;
}
.text-red {
    color: red;
}
#items {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}
.items li {
    display: flex;
    padding: 10px 15px;   
    justify-content: space-between;
    width: 45%;
    border: 1px solid #ccc;
    border-radius: 5px; 
    margin: 0 5px 10px;
    font-weight: 700;
}
.btn{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: auto;
    background-color: #ff4d4d;
    color: white;
}
.btn-clear {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid #ccc;
    color: #333;
    cursor: pointer;
    font-size: 16px;
}
.btn-link{
    font-size: 16px;
    background-color: transparent;
    color: #333;
    border: none;
    padding: 0;
    cursor: pointer;
}
.btn-clear:hover {
    background-color: #ff1a1a;
}
@media (max-width: 500px) 
{
    .items li {
        width: 100%;
    }
}