<!DOCTYPE html>
<html>
<head>
    <title>Edit Student</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<div class="container">

<h2>Edit Student</h2>

<form action="/update/<%= student._id %>?_method=PUT" method="POST">
    <input type="text" name="name" value="<%= student.name %>" required>
    <input type="email" name="email" value="<%= student.email %>" required>
    <button type="submit">Update</button>
</form>

<br>
<a href="/">Back to Home</a>

</div>

</body>
</html>
